/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.custom {
    padding-right: 15px !important;
    color: white !important;
}
.custom:hover{
    background-color: #3cb878 !important;
}